<?xml version="1.0" ?>

<robot name="cf2">

  <properties arm="0.0397" kf="3.16e-10" km="7.94e-12" thrust2weight="2.25" max_speed_kmh="30" gnd_eff_coeff="11.36859" prop_radius="2.31348e-2" drag_coeff_xy="9.1785e-7" drag_coeff_z="10.311e-7" dw_coeff_1="2267.18" dw_coeff_2=".16" dw_coeff_3="-.11" />

  <link name="base_link"> 

    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.034"/>
      <inertia ixx="4.134e-5" ixy="0.0" ixz="0.0" iyy="4.134e-5" iyz="0.0" izz="7.043e-5"/>
    </inertial>

    <!-- links>
      <carlos url="https://arxiv.org/pdf/1608.05786.pdf" />
      <julian url="http://mikehamer.info/assets/papers/Crazyflie%20Modelling.pdf" />
      <mit url="http://groups.csail.mit.edu/robotics-center/public_papers/Landry15.pdf" />
    </links -->

    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./cf2.dae" scale=" 1 1 1"/>
      </geometry> 
      <material name="grey">
        <color rgba=".5 .5 .5 1"/>
      </material> 
    </visual>
	<!-- links>
    <collision>
      <origin rpy="0 0 0" xyz="-0.059 -0.059 0"/>
      <geometry>
        <box size="0.118 0.118 0.048"/>
      </geometry>
    </collision>  
    </links -->
  </link>

  <link name="prop0_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0397 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="prop0_joint" type="fixed">
    <parent link="base_link"/>
    <child link="prop0_link"/>
  </joint>

  <link name="prop1_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0.0397 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="prop1_joint" type="fixed">
    <parent link="base_link"/>
    <child link="prop1_link"/>
  </joint>

  <link name="prop2_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.0397 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="prop2_joint" type="fixed">
    <parent link="base_link"/>
    <child link="prop2_link"/>
  </joint>

  <link name="prop3_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 -0.0397 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="prop3_joint" type="fixed">
    <parent link="base_link"/>
    <child link="prop3_link"/>
  </joint>

  <link name="center_of_mass_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0"/>
	  <properties />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="center_of_mass_joint" type="fixed">
    <parent link="base_link"/>
    <child link="center_of_mass_link"/>
  </joint>
  <!-- number 5 -->
  <link name="magnet1_link">
    <properties magnet_xyz = "0 -0.1 0" />
    <inertial>
      <origin rpy="0 0 0" xyz="0.055 0.059 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>
  <joint name="magnet1_joint" type="fixed">
    <parent link="base_link"/>
    <child link="magnet1_link"/>
  </joint>
  
  <link name="magnet2_link">
  <properties magnet_xyz = "0 -0.1 0" />
    <inertial>
      <origin rpy="0 0 0" xyz="0.055 -0.059 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>
  <joint name="magnet2_joint" type="fixed">
    <parent link="base_link"/>
    <child link="magnet2_link"/>
  </joint>
  
    <link name="magnet3_link">
  <properties magnet_xyz = "0 0.1 0" />
    <inertial>
      <origin rpy="0 0 0" xyz="-0.055 0.059 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>
  <joint name="magnet3_joint" type="fixed">
    <parent link="base_link"/>
    <child link="magnet3_link"/>
  </joint>
  
   <link name="magnet4_link">
  <properties magnet_xyz = "0 0.1 0" />
    <inertial>
      <origin rpy="0 0 0" xyz="-0.055 -0.059 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>
  <joint name="magnet4_joint" type="fixed">
    <parent link="base_link"/>
    <child link="magnet4_link"/>
  </joint>
  
  <link name="magnet5_link">
    <properties magnet_xyz = "0 0.1 0" />
    <inertial>
      <origin rpy="0 0 0" xyz="0.055 0.059 0.048"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>
  <joint name="magnet5_joint" type="fixed">
    <parent link="base_link"/>
    <child link="magnet5_link"/>
  </joint>
  
  <link name="magnet6_link">
  <properties magnet_xyz = "0 0.1 0" />
    <inertial>
      <origin rpy="0 0 0" xyz="0.055 -0.059 0.048"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>
  <joint name="magnet6_joint" type="fixed">
    <parent link="base_link"/>
    <child link="magnet6_link"/>
  </joint>
  
    <link name="magnet7_link">
  <properties magnet_xyz = "0 -0.1 0" />
    <inertial>
      <origin rpy="0 0 0" xyz="-0.055 0.059 0.048"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>
  <joint name="magnet7_joint" type="fixed">
    <parent link="base_link"/>
    <child link="magnet7_link"/>
  </joint>
  
  <link name="magnet8_link">
  <properties magnet_xyz = "0 -0.1 0" />
    <inertial>
      <origin rpy="0 0 0" xyz="-0.055 -0.059 0.048"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>
  <joint name="magnet8_joint" type="fixed">
    <parent link="base_link"/>
    <child link="magnet8_link"/>
  </joint>
  
  
  <link name="magnet9_link">
    <properties magnet_xyz = "0.1 0 0" />
    <inertial>
      <origin rpy="0 0 0" xyz="0.059 0.055 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>
  <joint name="magnet9_joint" type="fixed">
    <parent link="base_link"/>
    <child link="magnet9_link"/>
  </joint>
  
  <link name="magnet10_link">
  <properties magnet_xyz = "-0.1 0 0" />
    <inertial>
      <origin rpy="0 0 0" xyz="0.059 -0.055 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>
  <joint name="magnet10_joint" type="fixed">
    <parent link="base_link"/>
    <child link="magnet10_link"/>
  </joint>
  
    <link name="magnet11_link">
  <properties magnet_xyz = "0.1 0 0" />
    <inertial>
      <origin rpy="0 0 0" xyz="-0.059 0.055 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>
  <joint name="magnet11_joint" type="fixed">
    <parent link="base_link"/>
    <child link="magnet11_link"/>
  </joint>
  
   <link name="magnet12_link">
  <properties magnet_xyz = "-0.1 0 0" />
    <inertial>
      <origin rpy="0 0 0" xyz="-0.059 -0.055 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>
  <joint name="magnet12_joint" type="fixed">
    <parent link="base_link"/>
    <child link="magnet12_link"/>
  </joint>
  
  <link name="magnet13_link">
    <properties magnet_xyz = "-0.1 0 0" />
    <inertial>
      <origin rpy="0 0 0" xyz="0.059 0.055 0.048"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>
  <joint name="magnet13_joint" type="fixed">
    <parent link="base_link"/>
    <child link="magnet13_link"/>
  </joint>
  
  <link name="magnet14_link">
  <properties magnet_xyz = "0.1 0 0" />
    <inertial>
      <origin rpy="0 0 0" xyz="0.059 -0.055 0.048"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>
  <joint name="magnet14_joint" type="fixed">
    <parent link="base_link"/>
    <child link="magnet14_link"/>
  </joint>
  
    <link name="magnet15_link">
  <properties magnet_xyz = "-0.1 0 0" />
    <inertial>
      <origin rpy="0 0 0" xyz="-0.059 0.055 0.048"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>
  <joint name="magnet15_joint" type="fixed">
    <parent link="base_link"/>
    <child link="magnet15_link"/>
  </joint>
  
  <link name="magnet16_link">
  <properties magnet_xyz = "0.1 0 0" />
    <inertial>
      <origin rpy="0 0 0" xyz="-0.059 -0.055 0.048"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>
  <joint name="magnet16_joint" type="fixed">
    <parent link="base_link"/>
    <child link="magnet16_link"/>
  </joint>

</robot>

